<!DOCTYPE>
<html lang="">
<head>
    <link rel="icon" type="image/png" href="canvas.png">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    @await Html.PartialAsync("Partial/MetategsPartial")
    @await Html.PartialAsync("Partial/CssPartial")


    <title>

    </title>
</head>
<body>
<div>
    @await Html.PartialAsync("Partial/HeaderPartical")
</div>
<div>
    @RenderBody()
    
</div>
<div>
    
    @await Html.PartialAsync("Partial/FooterPartial")
</div>
    @await Html.PartialAsync("Partial/ScriptsPartial")
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>