<!DOCTYPE>
<html>
<head>
    @await Html.PartialAsync("MetategsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
<div>
    @await Html.PartialAsync("HeaderPartical")
</div>
<div>
    @RenderBody()
</div>
<div>
    @await Html.PartialAsync("FooterPartical")
</div>
</body>
</html>